.dibujo {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 80vmin;
    height: 80vmin;
  }
  
  .dibujo div {
    position: absolute;
    box-sizing: border-box;
  }
  
  .b {
    border: 0.5vmin solid;
  }
  
  .r {
    border-radius: 100%;
  }
  
  .hb::before,
  .ha::after {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
  }
  
  /****/
  html, body {
    background-color: #e8e8e8;
    background-image: radial-gradient(at 50% 75%, rgba(0,0,0,0.3), transparent);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
  }
  
  .dibujo {
    --tooth: #eea;
    --tooth-line: #cc9;
    --fur: #fff;
    --skin: #adf;
    --skin-dark: #7ac;
    --eye: #236;
    --light: #eee;
  }

 
  
 
.piernas{
    width: 40%;
    height: 36%;
    bottom: 5px;;
    left: 30%;
  



}
  

  

  
 
  
  .piernas::after, 
  .piernas::before {
    width: 13vmin;
    height: 6vmin;
    background: var(--skin);
    bottom: 0;
    left: -2vmin;
    border-radius: 20vmin 10vmin 0 0;
    background-image: linear-gradient(var(--skin) 50%, transparent), linear-gradient(to right, transparent 95%, rgba(0,0,0,0.2) 0);
    background-size: 100% 100%, 26% 100%;
  }
  
  .piernas::after {
    transform: scaleX(-1);
    left: auto;
    right: -1.5vmin;
  }


  .brazos {
    width: 40%;
    height: 70%;
    border-radius: 50%;
    border: 5vmin solid transparent;
    border-left: 10vmin solid var(--fur);
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 90.75%);
    top: 20%;
    left: 21%;
    transform: rotate(20deg)
  }
  
  .brazos-2 {
    transform: scaleX(-1) rotate(20deg);
    left: 40%;
    top: 22%;
  }

  .hand {
    width: 5%;
    height: 14%;
    box-shadow: -3vmin 0 var(--skin);
    top: 73%;
    left: 25%;
    transform: rotate(-20deg)
  }
  
  .hand + .hand {
    transform: scaleX(-1) rotate(-10deg);
    left: auto;
    right: 23.5%;
    top: 75%;
  }
  
  .hand::before {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--skin);
    top: -25%;
    left: -15%;
  }
  .hand::after {
    width: 50%;
    height: 20%;
    background: var(--tooth);
    border-radius: 100% / 65% 65% 120% 120%;
    top: 60%;
    left: 15%;
    border: 0.25vmin solid var(--tooth-line);
  }